{:crux.node/topology [crux.standalone/topology
                      crux.kv.rocksdb/kv-store
                      crux.http-server/module]
 :crux.http-server/port 3000
 :crux.kv/db-dir "./db"
 :crux.standalone/event-log-dir "./event-log"}
